.u-section-1 .u-sheet-1 {
  min-height: 181px;
}

.u-section-1 .u-image-1 {
  width: 100px;
  height: 100px;
  margin: 52px auto 0 0;
}

.u-section-1 .u-text-1 {
  font-weight: 700;
  font-family: Actor;
  font-size: 3.25rem;
  margin: -78px auto 51px 122px;
}

@media (max-width: 575px) {
  .u-section-1 .u-text-1 {
    font-size: 1.875rem;
    margin-left: 77px;
  }
}.u-section-2 .u-sheet-1 {
  min-height: 250px;
}

.u-section-2 .u-text-1 {
  font-family: Actor;
  margin: 20px 0 34px;
}.u-section-3 .u-sheet-1 {
  min-height: 569px;
}

.u-section-3 .u-text-1 {
  font-family: Actor;
  font-size: 2.5rem;
  font-weight: 700;
  margin: 36px auto 0 0;
}

.u-section-3 .u-image-1 {
  width: 566px;
  height: 358px;
  margin: 26px 4px 0 auto;
}

.u-section-3 .u-text-2 {
  font-weight: 700;
  font-family: Actor;
  font-size: 1.875rem;
  margin: -341px auto 0 0;
}

.u-section-3 .u-text-3 {
  font-family: Actor;
  font-style: italic;
  margin: 13px 753px 0 0;
}

.u-section-3 .u-text-4 {
  font-family: Actor;
  margin: 36px 625px 36px 0;
}

@media (max-width: 1199px) {
  .u-section-3 .u-sheet-1 {
    min-height: 656px;
  }

  .u-section-3 .u-image-1 {
    width: 470px;
    height: 312px;
  }

  .u-section-3 .u-text-3 {
    margin-right: 553px;
  }

  .u-section-3 .u-text-4 {
    margin-right: 425px;
  }
}

@media (max-width: 991px) {
  .u-section-3 .u-sheet-1 {
    min-height: 583px;
  }

  .u-section-3 .u-image-1 {
    width: 360px;
    height: 239px;
  }

  .u-section-3 .u-text-3 {
    margin-right: 333px;
  }

  .u-section-3 .u-text-4 {
    margin-right: 205px;
  }
}

@media (max-width: 767px) {
  .u-section-3 .u-sheet-1 {
    min-height: 523px;
  }

  .u-section-3 .u-image-1 {
    width: 270px;
    height: 179px;
    margin-right: 0;
  }

  .u-section-3 .u-text-2 {
    margin-top: -325px;
  }

  .u-section-3 .u-text-3 {
    margin-right: 153px;
  }

  .u-section-3 .u-text-4 {
    margin-right: 25px;
  }
}

@media (max-width: 575px) {
  .u-section-3 .u-sheet-1 {
    min-height: 457px;
  }

  .u-section-3 .u-text-1 {
    font-size: 1.875rem;
  }

  .u-section-3 .u-image-1 {
    width: 170px;
    height: 113px;
  }

  .u-section-3 .u-text-2 {
    margin-top: -198px;
    font-size: 1.5rem;
  }

  .u-section-3 .u-text-3 {
    margin-right: 0;
  }

  .u-section-3 .u-text-4 {
    margin-right: 0;
  }
}.u-section-4 .u-sheet-1 {
  min-height: 413px;
}

.u-section-4 .u-image-1 {
  width: 485px;
  height: 399px;
  margin: 1px auto 0 24px;
}

.u-section-4 .u-text-1 {
  font-weight: 700;
  font-family: Actor;
  font-size: 1.875rem;
  margin: -376px 0 0 auto;
}

.u-section-4 .u-text-2 {
  font-family: Actor;
  font-style: italic;
  margin: 13px 0 0 692px;
}

.u-section-4 .u-text-3 {
  font-family: Actor;
  margin: 36px 0 60px 523px;
}

@media (max-width: 1199px) {
  .u-section-4 .u-text-2 {
    margin-left: 492px;
  }

  .u-section-4 .u-text-3 {
    margin-left: 424px;
  }
}

@media (max-width: 991px) {
  .u-section-4 .u-text-2 {
    margin-left: 272px;
  }

  .u-section-4 .u-text-3 {
    margin-left: 204px;
  }
}

@media (max-width: 767px) {
  .u-section-4 .u-sheet-1 {
    min-height: 376px;
  }

  .u-section-4 .u-image-1 {
    height: 264px;
  }

  .u-section-4 .u-text-1 {
    margin-top: -241px;
  }

  .u-section-4 .u-text-2 {
    margin-left: 92px;
  }

  .u-section-4 .u-text-3 {
    margin-top: -99px;
    margin-left: 24px;
  }
}

@media (max-width: 575px) {
  .u-section-4 .u-sheet-1 {
    min-height: 294px;
  }

  .u-section-4 .u-image-1 {
    width: 340px;
    height: 280px;
    margin-left: 0;
  }

  .u-section-4 .u-text-1 {
    font-size: 1.5rem;
  }

  .u-section-4 .u-text-2 {
    margin-left: 0;
  }

  .u-section-4 .u-text-3 {
    margin-top: -20px;
    margin-left: 0;
  }
}.u-section-5 .u-sheet-1 {
  min-height: 400px;
}

.u-section-5 .u-image-1 {
  width: 640px;
  height: 345px;
  margin: 0 0 0 auto;
}

.u-section-5 .u-text-1 {
  font-weight: 700;
  font-family: Actor;
  font-size: 1.875rem;
  margin: -334px auto 0 0;
}

.u-section-5 .u-text-2 {
  font-family: Actor;
  font-style: italic;
  margin: 13px 624px 0 0;
}

.u-section-5 .u-text-3 {
  font-family: Actor;
  margin: 36px 624px 60px 0;
}

@media (max-width: 1199px) {
  .u-section-5 .u-text-2 {
    margin-right: 424px;
  }

  .u-section-5 .u-text-3 {
    margin-right: 424px;
  }
}

@media (max-width: 991px) {
  .u-section-5 .u-text-2 {
    margin-right: 204px;
  }

  .u-section-5 .u-text-3 {
    margin-right: 204px;
  }
}

@media (max-width: 767px) {
  .u-section-5 .u-image-1 {
    width: 540px;
    height: 291px;
  }

  .u-section-5 .u-text-1 {
    margin-top: -280px;
  }

  .u-section-5 .u-text-2 {
    margin-right: 24px;
  }

  .u-section-5 .u-text-3 {
    margin-right: 24px;
  }
}

@media (max-width: 575px) {
  .u-section-5 .u-image-1 {
    width: 340px;
    height: 183px;
  }

  .u-section-5 .u-text-1 {
    margin-top: -172px;
    font-size: 1.5rem;
  }

  .u-section-5 .u-text-2 {
    margin-right: 0;
  }

  .u-section-5 .u-text-3 {
    margin-right: 0;
  }
}.u-section-6 .u-sheet-1 {
  min-height: 72px;
}

.u-section-6 .u-text-1 {
  font-weight: 700;
  font-family: Actor;
  font-size: 2.5rem;
  margin: 14px auto 14px 0;
}

@media (max-width: 575px) {
  .u-section-6 .u-text-1 {
    font-size: 1.875rem;
  }
}.u-section-7 .u-sheet-1 {
  min-height: 184px;
}

.u-section-7 .u-image-1 {
  width: 64px;
  height: 64px;
  margin: 15px auto 0 0;
}

.u-section-7 .u-text-1 {
  font-family: Actor;
  margin: -53px auto 0 79px;
}

.u-section-7 .u-text-2 {
  font-family: Actor;
  font-size: 0.75rem;
  margin: 0 auto 0 79px;
}

.u-section-7 .u-text-3 {
  margin: 21px 570px 15px 0;
}

@media (max-width: 1199px) {
  .u-section-7 .u-text-3 {
    margin-right: 370px;
  }
}

@media (max-width: 991px) {
  .u-section-7 .u-text-3 {
    margin-right: 150px;
  }
}

@media (max-width: 767px) {
  .u-section-7 .u-text-3 {
    margin-right: 0;
  }
}.u-section-8 .u-sheet-1 {
  min-height: 184px;
}

.u-section-8 .u-image-1 {
  width: 64px;
  height: 64px;
  margin: 15px auto 0 0;
}

.u-section-8 .u-text-1 {
  font-family: Actor;
  margin: -53px auto 0 79px;
}

.u-section-8 .u-text-2 {
  font-family: Actor;
  font-size: 0.75rem;
  margin: 0 auto 0 79px;
}

.u-section-8 .u-text-3 {
  margin: 21px 570px 15px 0;
}

@media (max-width: 1199px) {
  .u-section-8 .u-text-3 {
    margin-right: 370px;
  }
}

@media (max-width: 991px) {
  .u-section-8 .u-text-3 {
    margin-right: 150px;
  }
}

@media (max-width: 767px) {
  .u-section-8 .u-text-3 {
    margin-right: 0;
  }
}.u-section-9 .u-sheet-1 {
  min-height: 184px;
}

.u-section-9 .u-image-1 {
  width: 64px;
  height: 64px;
  margin: 15px auto 0 0;
}

.u-section-9 .u-text-1 {
  font-family: Actor;
  margin: -53px auto 0 79px;
}

.u-section-9 .u-text-2 {
  font-family: Actor;
  font-size: 0.75rem;
  margin: 0 auto 0 79px;
}

.u-section-9 .u-text-3 {
  margin: 21px 570px 15px 0;
}

@media (max-width: 1199px) {
  .u-section-9 .u-text-3 {
    margin-right: 370px;
  }
}

@media (max-width: 991px) {
  .u-section-9 .u-text-3 {
    margin-right: 150px;
  }
}

@media (max-width: 767px) {
  .u-section-9 .u-text-3 {
    margin-right: 0;
  }
}.u-section-10 .u-sheet-1 {
  min-height: 184px;
}

.u-section-10 .u-image-1 {
  width: 64px;
  height: 64px;
  margin: 15px auto 0 0;
}

.u-section-10 .u-text-1 {
  font-family: Actor;
  margin: -53px auto 0 79px;
}

.u-section-10 .u-text-2 {
  font-family: Actor;
  font-size: 0.75rem;
  margin: 0 auto 0 79px;
}

.u-section-10 .u-text-3 {
  margin: 21px 570px 15px 0;
}

@media (max-width: 1199px) {
  .u-section-10 .u-text-3 {
    margin-right: 370px;
  }
}

@media (max-width: 991px) {
  .u-section-10 .u-text-3 {
    margin-right: 150px;
  }
}

@media (max-width: 767px) {
  .u-section-10 .u-text-3 {
    margin-right: 0;
  }
}.u-section-11 .u-sheet-1 {
  min-height: 279px;
}

.u-section-11 .u-text-1 {
  font-weight: 700;
  font-family: Actor;
  font-size: 2.5rem;
  margin: 25px auto 0 0;
}

.u-section-11 .u-list-1 {
  margin-top: 25px;
  margin-bottom: 32px;
}

.u-section-11 .u-repeater-1 {
  min-height: 153px;
  grid-template-columns: 33.3333% 33.3333% 33.3333%;
  grid-gap: 0px 0px;
}

.u-section-11 .u-container-layout-1 {
  padding: 10px;
}

.u-section-11 .u-text-2 {
  font-family: Actor;
  font-size: 1.375rem;
  font-weight: 700;
  margin: 0 auto 0 0;
}

.u-section-11 .u-text-3 {
  font-family: Actor;
  margin: 11px 0 0;
}

.u-section-11 .u-container-layout-2 {
  padding: 10px;
}

.u-section-11 .u-text-4 {
  font-family: Actor;
  font-size: 1.375rem;
  font-weight: 700;
  margin: 0 auto 0 0;
}

.u-section-11 .u-text-5 {
  font-family: Actor;
  margin: 11px 0 0;
}

.u-section-11 .u-container-layout-3 {
  padding: 10px;
}

.u-section-11 .u-text-6 {
  font-family: Actor;
  font-size: 1.375rem;
  font-weight: 700;
  margin: 0 auto 0 0;
}

.u-section-11 .u-text-7 {
  font-family: Actor;
  margin: 11px 0 0;
}

@media (max-width: 1199px) {
  .u-section-11 .u-repeater-1 {
    min-height: 126px;
  }
}

@media (max-width: 991px) {
  .u-section-11 .u-repeater-1 {
    min-height: 290px;
    grid-template-columns: 50% 50%;
  }
}

@media (max-width: 767px) {
  .u-section-11 .u-repeater-1 {
    grid-template-columns: 100%;
  }
}

@media (max-width: 575px) {
  .u-section-11 .u-text-1 {
    font-size: 1.875rem;
  }
}